.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30vh;
  margin-bottom: 84px;
  height: 71px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  .imageWrapper {
    .image {
      width: 50px;
      height: 50px;
    }
  }
}
.headerResponsive {
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.4vh;
  height: 71px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  padding: 0 3vh;
}
.imageWrapper {
  .image {
    width: 50px;
    height: 50px;
  }
}
.headerItem {
  margin: 0 85px;
  cursor: pointer;
}

.selected {
  color: #1677ff;
}
.text {
  font-size: 16px;
  font-weight: 500;
  font-weight: bold;
}
.wraps {
  margin: 0 30vh 3vh 30vh;
}
@media screen and (max-width: 992px) {
  .headerContainer {
    display: none;
  }
  .headerResponsive {
    display: flex;
  }
  .headerItem {
    margin: 0 12px;
  }
  .wraps {
    margin: 0 3vh 3vh 3vh;
  }
  .icon {
    z-index: 999;
    margin-left: auto; /* Di chuyển icon sang phải */
  }

  .wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 23px calc(10.72% + 16px) ;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    background-color: #fff;
    z-index: 100;
}

.headerItem{
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #000;


.headerItem {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}


.userIcon{
  color: #167fff;
  font-weight: bold;
  font-size: 20px;
}
.name {
  margin-left: 10px;
  align-self: center;
}

.icon{
  cursor: pointer;
  position: relative;
  font-size: 16px;
  
  &:hover{
      .userMenu{
          display: block;
      }
  }
  &::after{
      content: "";
      display: block;
      position: absolute;
      bottom: -30px;
      right: -10px;
      border-style: solid;
      border-color: transparent;
      border-width: 17px 50px;
  }
}


.userMenu{
  display: none;
  margin-top: 30px;
  width: 170px;
  right: 0;
  transform: translateX(10%);
  position: absolute;
  border-radius: 4px;
  background-color: #f8f8f8;
  overflow: hidden;
  z-index: 1;
}

.menuItem{
  padding: 12px 20px;
  list-style: none;
  background-color: #DEF5FD;
  color: #000;
  &:hover {
      animation: opacity 0.5s ease;
  }
}

.menuItem:hover{
  background-color: #73DCFF;
  color: #fff;
  animation: opacity 0.5s ease;
}

@keyframes opacity {
  from {
    opacity: 0.4;
    background-color: #DEF5FD;
    color: #fff;
  }
  to {
    opacity: 1;
    background-color: #73DCFF;
    color: #fff;
  }

.footerWrap {
  margin-top: 10vh;
  padding: 4vh 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  // padding-right: 0 0vh;
  // border-top: 1px solid #73DCFF;
  background-color: #cef3ff;
  .imgLogoFooter {
    // margin-top: 3vh;
    width: 267px;
    height: 92px;
    object-fit: cover;
  }
  .iconWrap li {
    list-style-type: none;
    line-height: 4vh;
  }
  .iconItem,
  .text {
    font-size: 14px;
  }
  .copyRight {
    font-size: 14px;
  }
  .text {
    color: #1677ff;
    text-decoration: dashed;
  }
  .copyRight {
    // padding-right: 3vh;
  }
}
@media screen and (max-width: 768px) {
  .footerWrap {
    flex-direction: column; /* Hiển thị các phần tử theo chiều dọc khi màn hình nhỏ hơn */
    align-items: center; /* Căn giữa các phần tử trong footerWrap */
  }


  .iconWrap {
    margin-top: 10px; /* Khoảng cách giữa các phần tử trong iconWrap khi xuống dòng */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .copyRight {
    font-size: 9px;
    padding-left: 3vh;
    text-align: center;
    margin-bottom: 1vh;
  }
}

