.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 84px;
    height: 71px; 
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
 
  }
  
  .headerItem {
    margin: 0 85px; 
    cursor: pointer;
  }
  
  .selected {
    color: #1677ff; 
  }
  .text{
       font-size: 16px;
       font-weight: 500;
  }
  .wraps{
    margin: 0 30vh;
  }
  @media screen and (max-width: 600px) {
    .wraps{
      margin: 0 3vh;
    }
  }