@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: #1677ff;
  --subPrimary: #f6c404;
  --secondary: #ff0000;
  --line: #979797;
  --subLine: #f0f0f0;
  --textColor: #545454;
  --success: #87d068;
  --bgColor: #ffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter" !important;
  font-family: "Inter" !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  // font-family: Muli, sans-serif;
  font-family: "Inter" !important;
  font-family: "Inter" !important;
  // font-size: 16px;
}
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
