@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: #1677ff;
  --subPrimary: #f6c404;
  --secondary: #ff0000;
  --line: #979797;
  --subLine: #f0f0f0;
  --textColor: #545454;
  --success: #87d068;
  --bgColor: #ffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter" !important;
  font-family: "Inter" !important;
  background-color: #ffff !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  // font-family: Muli, sans-serif;
  font-family: "Inter" !important;
  font-family: "Inter" !important;
  // font-size: 16px;
}
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.ant-collapse-header{
  padding: 0 !important;
}

.ant-collapse-content-box {
  padding: 12px 0 12px 24px !important;
}

.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // opacity: 0.4 !important;
}
// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     // color: white;
//     // background: black;
//   }
// }
