

.wrap{
    padding-top: 12px;
}
.imageWrap{
    min-width: 100%;
    height: 130px;
    overflow: hidden;
    border-radius: 8px;
}

.imageWrap > div {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.img{
    width: auto ;
    height: 100% !important;
    object-fit: cover;
    cursor: pointer;
    &:hover{
        scale: 110%;
        transition: ease 0.4s;
    }
    &:not(hover){
        scale: 100%;
        transition: ease 0.4s;
    }
}

.item{
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name{
    margin-top: 16px;
}

.title{
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.value{
    font-size: 16px;
    color: #000;
}

.btn{
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
    width: 96px;
    font-size: 14px;
    padding: 10px 28px;
    background-color: #167fff;
    color: #fff;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.7;
}

.modalFolder{
    width: 1200px !important;
}

.modalFolder > div:nth-child(2) > div:nth-child(3) > div {
    margin: 10px 12px 20px 12px;
}

.confirm{
    padding: 10px 30px;
    background-color: #fff;
}

.confirmItem{
    display: flex;
    margin: 12px 0px;
    font-size: 16px;
    color: #000;
}

.confirmTitle{
    width: 120px;
    font-size: 16px;
    font-weight: 600;
}

.confirmValue{
    font-size: 16px;
}
