.wrapper{
    background-color: #ffffff;
    
}

.container{
    padding: 140px 10.72% 71px 10.72%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.accountAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-image: url("../../../assets/image/account-bg.png");
    text-align: center;
    padding: 48px 0;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -8.14252px 8.14252px 20.3563px rgba(22, 127, 255, 0.5);
}

.userInfor{
    position: relative;
    width: 120px;
    height: 120px;
    display: inline-block;
}
.abountImgWrap{
    width: 100%;
    height: 100%; 
    border-radius: 50%;
    overflow: hidden;
    box-shadow: -8.14252px 8.14252px 20.3563px rgba(22, 127, 255, 0.5);
}

.aboutImg{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.aboutTick{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    transform: translateY(2px);
    border-radius: 50%;
    background-color: var(--success);
}

.aboutIcon{
    color: #fff;
    font-size: 1.5rem;
    transform: translateY(3px);
}

.aboutName{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.aboutEmail{
    margin-top: 12px;
    margin-bottom: 30px;
    font-size: 400;
    color: var(--textColor);
}

.aboutSpending{
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 14.814%
}

.spendingNumber{
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    color: #167fff;
}

.spendingText{
    font-size: 18px;
    font-weight: 600;
    
}

.spending{
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.spendingItem{
    padding-left: 20px;
}

.inforWrap{
    // margin-bottom: 30px;
    height: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 14px rgba(22, 127, 255, 0.5);
}

.title{
    margin-left: 60px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
}

.infor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 28px;
    margin-bottom: 30px;
}

.infor > div:first-child {
    display: flex;
    align-items: center;
}

.inforImg{
    flex: 3;
}

.inforBank{
    margin-left: 30px;
    flex: 7;
}

.notiWrap{
    border: 2px dashed #fadd6e;
    background-color: #fff2bf;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 0 28px;
}

.noti{
    font-size: 15px;
    
}

.noti:first-child {
    margin-bottom: 14px;
}

.inforItem{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #dfdfdf;
}

.name{
    width: 220px;
}

.modal{
    text-align: center;
}

@media only screen and (max-width: 1660px) {
    .infor > div:first-child {
        margin: 0 auto;
    }

    .title{
        text-align: center;
        margin-left: 0;
    }

}


@media only screen and (max-width: 1200px) {
    .inforBank{
        margin-left: 0;
        width: 100%;
    }
    .infor{
        padding: 10px;
    }
    .infor > div:first-child {
        margin: 0 auto;
    }

    .name{
        width: 180px;
    }
    .title{
        text-align: center;
        margin-left: 0;
    }

    .inforBank{
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .inforWrap{
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .name{
        margin-left: 0;
        width: 150px;
    }
    
}
@media only screen and (max-width: 433px) {
    .name{
        margin-left: 0;
        width: 100px;
    }
    .value{
        margin-left: 10px;
    }

    .inforItem{
        padding: 20px 0;
    }

    .inforWrap{
        padding: 30px 4px;
    }
    
}



