.wrap{
    overflow-x: hidden;
    // height: 100%;
}

.container{
    padding: 10% 10%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.collapse{
    text-align: center;
}

.collapse > div > div {
    align-items: center !important;
}

.filter{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: start;
    color: #000;
}

.category{
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    color: #000;
}

.categoryName{
    line-height: 30px;
    list-style: none;
    padding-left: 0;
    transition: padding-left ease 0.25s;
    &:hover {
        font-weight: 500;
        color: #167fff;
    }
    &:not(:hover) {
        font-weight: 400;
        color: #000;
    }
    &:hover::before {
        border-width: 6px 10px 6px 10px ; 
        transition: border-width 0.25s ease;
        transform-origin: center;
    }
    &:not(:hover)::before {
        border-width: 0 ; 
        transition: border-width 0.25s ease;
        transform-origin: center;
    }
}

.categoryName::before {
    content: "";
    border-style: solid;
    border-width: 0;
    border-color:  transparent transparent transparent #167fff  ; 
    display: inline-block;
    margin-right: 4px; 
    // opacity: 0;
}




.categoryActive{
    font-weight: 500 !important;
    color: #167fff !important;
    transition: all 0.25s ease;

}

.categoryActive::before{
    content: "";
    border-style: solid;
    border-color:  transparent transparent transparent #167fff  ; 
    display: inline-block;
    margin-right: 4px; 
    border-width: 6px 10px 6px 10px ; 
}

.row{
    height: 100%;
}

.noti{
    width: 100%;
    // min-height: 256px;
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notiText{
    text-align: center;
    color: #000;
    margin-top: 14px;
    font-size: 18px;
    padding: 0 12px;
}

.footerWrap {
    margin-top: 10vh;
    padding: 4vh 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    // padding-right: 0 0vh;
    // border-top: 1px solid #73DCFF;
    background-color: #cef3ff;
    .imgLogoFooter {
      // margin-top: 3vh;
      width: 267px;
      height: 92px;
      object-fit: cover;
    }
    .iconWrap li {
      list-style-type: none;
      line-height: 4vh;
    }
    .iconItem,
    .text {
      font-size: 14px;
    }
    .copyRight {
      font-size: 14px;
    }
    .text {
      color: #1677ff;
      text-decoration: dashed;
      font-weight: 700;
    }
    .copyRight {
      // padding-right: 3vh;
    }
}

@media screen and (max-width: 768px) {
    .footerWrap {
        flex-direction: column; /* Hiển thị các phần tử theo chiều dọc khi màn hình nhỏ hơn */
        align-items: center; /* Căn giữa các phần tử trong footerWrap */
    }

    .iconWrap {
        margin-top: 10px; /* Khoảng cách giữa các phần tử trong iconWrap khi xuống dòng */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .copyRight {
        font-size: 9px;
        padding-left: 3vh;
        text-align: center;
        margin-bottom: 1vh;
    }
}

@media only screen and (max-width: 1200px) {
    .row{
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .container{
        padding: 140px calc(8%) ;
        min-height: 70vh;
    }
}
  

@media only screen and (max-width: 992px) {
    .row{
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .container{
        padding: 100px 4%;
        justify-content: start;
    }
}

@media only screen and (max-width: 768px) {
    .row{
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .container{
        padding: 100px 4%;
        min-height: 60vh;
    }
}

