.wrap{
    overflow-x: hidden;
}

.container{
    padding: 140px 10.72% 71px 10.72%;
}

.row{
    flex-wrap: wrap;
}

.collapse{
    text-align: center;
}

.collapse > div > div {
    align-items: center !important;
}

.filter{
    font-size: 18px;
    font-weight: 500;
}

.category{
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
}

.categoryName{
    // margin-left: 0;
    line-height: 30px;
    list-style: none;
    &:hover {
        font-weight: 500;
        color: #167fff;
        animation: anim 0.4s ease-in-out forwards;
    }
    &:not(:hover) {
        font-weight: 400;
        color: #000;
        animation: anim-reverse 0.4s ease-in-out forwards;
    }
}

.categoryName::before {
    content: "";
    border-style: solid;
    border-width: 6px 10px 6px 10px ; 
    border-color:  transparent transparent transparent #167fff  ; 
    display: inline-block;
    margin-right: 5px; 
    opacity: 0;
}

.categoryName:hover::before {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.categoryActive{
    font-weight: 500 !important;
    color: #167fff !important;
    padding-left: 8px !important;
    transition: all 0.3s ease;

}

.categoryActive::before{
    opacity: 1;
}

.categoryActive:not(.active) {
    animation: revertProperties 0.3s ease;
}

@keyframes anim-reverse  {
    from {
        padding-left: 8px;

    }
    to {
        padding-left: 0px;
        
    }
}

@keyframes revertProperties {
    from {
      font-weight: 500;
      color: #167fff;
      padding-left: 8px;
    }
    to {
      font-weight: normal;
      color: inherit;
      padding-left: 0;
    }
  }
  

@keyframes anim{
    from {
        padding-left: 0px;
     
    }
    to {
        padding-left: 8px;
     
    }
}


@media only screen and (max-width: 992px) {
    .row{
        margin-top: 30px;
        flex-wrap: wrap;
    }
}
